body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .btn-in-card {
    position: relative;
  }
  
  .btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-in-card:hover .btn-wrapper {
    display: flex;
  }
  
  .btn-in-card .btn {
    margin-bottom: 2px;
    width: 130px;
    font-size: 0.8em;
  }

  .fixed-size-card {
    width: 320px;
  }
  
  .fixed-size-header {
    height: 160px;
  }
  
  